<!-- Footer -->
<footer class="sticky-footer dark">
    <div class="row col-md-12">
        <div class="col-md-8  text-left my-auto">
            <i class="fa fa-chevron-circle-left fa-3x"></i>
        </div>
        <div class="col-4 text-right my-auto">
            <ol class="breadcrumb" id="bread">
                <li><a href="#">SSS</a> ></li>
                <li><a href="#"> CANALES DE VENTA</a> ></li>
                <li><a href="#"> TIENDA</a> ></li>
                <li><a [routerLink]="['/aplicacion']" routerLinkActive="active"> APP</a></li>
            </ol>
        </div>
    </div>
</footer>
<!-- End of Footer -->