<!-- Page Wrapper -->
<div id="wrapper">
    <div id="content-wrapper">
        <!-- Sidebar -->
        <ul class=" navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/home']">
                    <i class="fas fa-fw fa-home"></i>
                    <span>HOME</span>
                </a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-shopping-cart"></i>
                    <span>CANALES DE VENTA</span>
                </a>
                <div id="collapseTwo" class="collapse">
                    <div class="py-2 collapse-inner">
                        <span class="pointer" id="menu1" data-target="#collapseThree" href="#" data-toggle="collapse" aria-controls="collapseThree">TIENDA</span>
                        <div id="collapseThree" class="collapse">
                            <div class="collapse-inner" id="menu" routerLinkActive="active-selected">
                                <a class="collapse-item" href="#">WEB</a>
                            </div>
                            <div id="menu" routerLinkActive="active-selected">
                                <a class="collapse-item" [routerLink]="['/aplicacion']">APP</a>
                            </div>
                        </div>

                    </div>
                </div>
            </li>



            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-tag"></i>
                    <span>PRODUCTOS</span>
                </a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link " href="#">
                    <i class="fas fa-fw fa-bullhorn"></i>
                    <span>ADD'S</span>
                </a>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-credit-card"></i>
                    <span>TRANSACCIONES</span>
                </a>
            </li>

            <!-- Nav Item - Pedidos -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-archive"></i>
                    <span>PEDIDOS</span>
                </a>
            </li>

            <!-- Nav Item - Envios -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-paper-plane"></i>
                    <span>ENVÍOS</span>
                </a>
            </li>

            <!-- Nav Item - Reporteria -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-chart-bar"></i>
                    <span>REPORTERÍA</span>
                </a>
            </li>

            <!-- Nav Item - Envios -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-sun"></i>
                    <span>POLÍTICAS</span>
                </a>
            </li>
        </ul>
        <!-- End of Sidebar -->
    </div>
</div>
<!-- End of Page Wrapper -->